* {
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  margin: 0;
  background: #d2dde3;
  font-family: 'Montserrat';
  // max-height: 100vh;
  // scroll-behavior: smooth;
}

// HEADER STYLING
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  .logo {
    background: #000;
    color: #fff;
    padding: 0em 1em;

    h3 {
      text-align: center;

      .logo-span {
        font-weight: 400;
      }
    }
  }

  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    backdrop-filter: blur(2px) brightness(50%);
    width: 50%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    font-weight: 600;

    .close {
      float: right;
      margin: 0.6em 0.5em;
      fill: #000;
      cursor: pointer;
      width: 45px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 8em;

      a {
        color: #fff;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: background 0.18s;

        &:hover {
          background: #000;
        }
      }
    }
  }
}

.menu {
  width: 55px;
  padding-right: 0.5em;
}

// svg
svg {
  width: 40px;
}

// main style
.main {
  padding: 0 0.5em;

  .hero-img {
    animation: introLoad 2s forwards;
    padding-top: 4em;

    img {
      width: 100%;
      max-width: 700px;
    }
  }

  .hero-txt {
    padding: 0 0.5em;
    margin-bottom: 3em;

    h1 {
      font-size: 5rem;
      font-family: 'Antonio';
      color: #fe2857;
      margin: 0;

      .hero-span {
        font-size: 3.5rem;
      }
    }

    p {
      margin: 0.5em 0 2.5em;
      font-size: 1.125rem;
    }

    .cta {
      display: block;
      margin-left: auto;
      padding: 1em 2em;
      background: #000;
      color: #fff;
      border: none;
      border-radius: 0.1em;
      cursor: pointer;
      letter-spacing: 2px;
      transition: all 0.18s ease-in-out;

      &:hover {
        background: #f9cb15;
        color: #000;
      }
    }
  }
}

// footer
.footer {
  display: flex;
  align-items: end;
  justify-content: space-between;

  nav {
    background: #000;

    ul {
      list-style-type: none;
      padding: 0.8em;
      margin: 0;

      li {
        padding: 0.5em 0;

        svg {
          width: 30px;
        }

        .fb-svg:hover {
          stroke: transparent;
          fill: #4267b2;
        }

        .tweet-svg {
          g:hover {
            fill: #00acee;
          }
        }

        .ig-svg:hover {
          stroke: #e1306c;
        }
      }
    }
  }

  .arrow-link {
    align-self: flex-end;
    background-color: #000;
    padding: 0.2em 0.5em 0em;

    svg {
      width: 2.8125rem;
    }
  }
}
